mixin figure(src, alt="ScanLAB Projects", caption="")
  figure    
    img(src= src alt= alt)
    .img-item(data-bg= src)    
    figcaption= caption

mixin inlineFigure(collection, alt="ScanLAB Projects", caption="")
  figure
    - for (var i=0; i<collection.length; i++)      
      img(src= collection[i] alt= alt)
    - for (var i=0; i<collection.length; i++)
      .img-item.inline(data-bg= collection[i])    
    figcaption
      span= caption

mixin imageCollectionFromTo(collection, from, to)
  - start = from || 0;
  - end = to || collection.length;
  - for (var i=start; i<end; i++)
    +figure(collection[i])
    //- li.img-item(data-bg= collection[i])

mixin section(role = "text", container = "")
  section(role= role)
    .layout
      .content(class= container)
        block

mixin block(type = "body")
  - if (type == "body")
    .body
      block
  - else
    header
      block

mixin pageHero(title, hero, vsrc, type = "image")
  section(role="hero")
    - if (type == "image")
      .hero-container(data-bg= hero)
        .layout
          .body
            h1= title
    - else
      .hero-container(data-bg= hero)
        .layout.videojs      
          +videojs()
          .body
            h1= title

mixin navigation--desktop(active = "")
  nav(role="desktop")
    .menu--head
      include ./SLABlogo
    .menu--link

mixin navigation--mobile(active = "")
  nav(role="mobile")
    .menu--stage
      ul.menu-items
        li(class= (active === 'about') ? 'active' : '') About
        li(class= (active === 'projects') ? 'active' : '') Work
        li(class= (active === 'contact') ? 'active' : '') Contact
    .menu--icon
      //- .icon-shadow
      button.hamburger(type="button" class="hamburger--squeeze")
        span.hamburger-box
          .hamburger-inner

mixin videojs(src = '/assets/showreel.mp4', poster = '')
  video(id="player" class="video-js" loop="true" autoplay="true" fluid="true" preload="auto" poster= poster data-setup='' width="100%" height="100%")
    source(src= src type="video/mp4")