mixin filteredProjects(page)
  //- - function uppercase(word) { return word.charAt(0).toUpperCase() + word.slice(1) }
  ul.projects
    each key in page.order
      - var item = page.projects[key]
      if(item.meta.active)
        - var tags = item.meta.tags.join(' ')
        li.img-item(class= tags data-bg= item.images.banner)
          a.is-banner(href= "/work/" + item.meta.href)
            .label
              h1.is-title= item.body.title
              if(item.body.client.length > 0)
                h4.is-client= item.body.client

mixin addTags(list, footer = "")
  ul.tags(class= (footer == 'footer') ? 'is-footer' : 'is-standard')
    each item in list
      li.tag(data-tag= item)
        - var tag = (item.length <= 3) ? item.toUpperCase() : item
        span= tag

mixin figure(src, caption="", alt="ScanLAB Projects")
  figure    
    img(src= src alt= alt)
    .img-item(data-bg= src)    
    figcaption= caption

mixin selectedProject(src, caption = "", url = "")
  li(data-bg= src)
    a.selected-img(href= "/work/" + url)
      .label
        span.hidden= caption
        span.visible= caption

mixin scrollContainer(collection)
  ul.scroll-images
    each item in collection
      li.scroll-item(data-bg= item.src)
        a.is-banner(href= item.url)
          .label
            span.hidden= item.caption
            span.visible= item.caption
          ul.tags
            each tag in item.tags
              li.tag
                span= tag
  .nodes
    each item in collection
      .node-item

// deprecate
mixin scrollImage(src, caption="", alt="ScanLAB Projects")
  figure    
    img(src= src alt= alt)
    .img-item(data-bg= src)    
    figcaption= caption

mixin inlineFigure(collection, alt="ScanLAB Projects", caption="")
  figure
    - for (var i=0; i<collection.length; i++)      
      img(src= collection[i] alt= alt)
    - for (var i=0; i<collection.length; i++)
      .img-item.inline(data-bg= collection[i])    
    figcaption
      span= caption

mixin imageCollectionFromTo(collection, from, to)
  - start = from || 0;
  - end = to || collection.length;
  - for (var i=start; i<end; i++)
    +figure(collection[i])

mixin section(role = "text", container = "")
  section(role= role)
    .layout
      .content(class= container)
        block

mixin block(type = "body")
  - if (type == "body")
    .body
      block
  - else
    header
      block

mixin pageHero(title, hero, type = "image", klass = "")
  section(role="hero")
    if (type == "image")
      .hero-container(data-bg= hero class= klass)
        .layout
          .body
            h1= title
    else
      .hero-container(data-bg= hero class= klass)
        .layout.videojs      
          +videojs()
          .body
            h1= title

mixin insertQuotes(list)
  ul.quotes
    each quote in list
      li
        p.quote= quote.text
        p.by= quote.by

mixin navigation--desktop(active = "", hero = true)
  nav(role="desktop")
    .menu--head(class= (hero) ? '' : 'zero')
      a(href="/")
        include ./SLABlogo
    //- .menu--link(class= (hero) ? '' : 'zero')
    //-   .nav-link(class= (active === 'about') ? 'active' : '')
    //-     a(href="/about") About
    //-   .nav-link(class= (active === 'work') ? 'active' : '')
    //-     a(href="/work") Work

mixin projects-link(align = "")
  .projects-link(class= align)
    .link-item
      i.fa(class="fa-th-list")
      a.is-link(href="/work") See All Projects
    block

mixin strike(msg = "")
  fieldset
      legend 
        h4.centre= msg

mixin navigation--mobile(active = "")
  nav(role="mobile")
    .menu--stage
      .item-container.has-align--top
        ul.menu-nav
          li(class= (active === 'about') ? 'active' : '') 
            a(href="/about").is-link--white About
          li(class= (active === 'projects') ? 'active' : '') 
            a(href="/work").is-link--white Work
          li.hidden(class= (active === 'contact') ? 'active' : '') Contact
      .item-container.is-address
        ul.menu-meta
          li
            p.title Address
            a.is-link--white(href="https://www.google.co.uk/maps/preview/place/ScanLAB+Projects,+London/@51.5296336,-0.0613865,17z/data=!3m1!4b1!4m2!3m1!1s0x48761cc48b92c473:0xc0c68a63dfe56f29" target="_blank") Unit 7, 5 Durham Yard, London E2 6QF
          li
            p.title Telephone
            a.is-link--white(itemprop="telephone" href="tel:+44 (0)20 7739 2524") +44 20 7739 2524
          li
            p.title Email
            a.is-link--white(href="mailto:studio@scanlabprojects.co.uk" target="_blank") studio@scanlabprojects.co.uk
      .item-container.is-social
        include signup
    .menu--icon
      button.hamburger(type="button" class="hamburger--squeeze")
        span.hamburger-box
          .hamburger-inner

mixin videojs(src = '/assets/showreel-low.mp4', poster = '')
  video(id="player" class="video-js" loop="true" fluid="true" poster= poster data-setup='' width="100%" height="100%" autoplay autobuffer preload)
    source(src= src type="video/mp4")