mixin filteredProjects(page)
  //- - function uppercase(word) { return word.charAt(0).toUpperCase() + word.slice(1) }
  ul.projects
    each key in page.order
      - var item = page.projects[key]
      if(item.meta.active)
        - var tags = item.meta.tags.join(' ')
        li.img-item(class= tags data-bg= item.images.banner)
          .label
            h1= item.body.title
            if(item.body.client.length > 0)
              h4= item.body.client

mixin addTags(list)
  ul.tags.column
    each item in list
      li.tag(data-tag= item)
        - var tag = (item.length <= 3) ? item.toUpperCase() : item
        span= tag

mixin figure(src, caption="", alt="ScanLAB Projects")
  figure    
    img(src= src alt= alt)
    .img-item(data-bg= src)    
    figcaption= caption

mixin scrollContainer(collection)
  .related-images
    each item in collection
      a.related-item(data-bg= item.src href= item.url)
        .caption
          span.hidden= item.caption
          span.visible= item.caption
        ul.tags
          each tag in item.tags
            li.tag
              span= tag
  .nodes
    each item in collection
      .node-item

// deprecate
mixin scrollImage(src, caption="", alt="ScanLAB Projects")
  figure    
    img(src= src alt= alt)
    .img-item(data-bg= src)    
    figcaption= caption

mixin inlineFigure(collection, alt="ScanLAB Projects", caption="")
  figure
    - for (var i=0; i<collection.length; i++)      
      img(src= collection[i] alt= alt)
    - for (var i=0; i<collection.length; i++)
      .img-item.inline(data-bg= collection[i])    
    figcaption
      span= caption

mixin imageCollectionFromTo(collection, from, to)
  - start = from || 0;
  - end = to || collection.length;
  - for (var i=start; i<end; i++)
    +figure(collection[i])

mixin section(role = "text", container = "")
  section(role= role)
    .layout
      .content(class= container)
        block

mixin block(type = "body")
  - if (type == "body")
    .body
      block
  - else
    header
      block

mixin pageHero(title, hero, type = "image", klass = "")
  section(role="hero")
    if (type == "image")
      .hero-container(data-bg= hero class= klass)
        .layout
          .body
            h1= title
    else
      .hero-container(data-bg= hero class= klass)
        .layout.videojs      
          +videojs()
          .body
            h1= title

mixin insertQuotes(list)
  ul.quotes
    each quote in list
      li
        p.quote= quote.text
        p.by= quote.by

mixin navigation--desktop(active = "", hero = true)
  nav(role="desktop")
    .menu--head(class= (hero) ? '' : 'zero')
      include ./SLABlogo
    .menu--link(class= (hero) ? '' : 'zero')
      .nav-link(class= (active === 'about') ? 'active' : '')
        a(href="/about") About
      .nav-link(class= (active === 'work') ? 'active' : '')
        a(href="/work") Work

mixin navigation--mobile(active = "")
  nav(role="mobile")
    .menu--stage
      .item-container
        ul.menu-items
          li(class= (active === 'about') ? 'active' : '') About
          li(class= (active === 'projects') ? 'active' : '') Work
          li(class= (active === 'contact') ? 'active' : '') Contact
      //- .border-split
      .item-container.border--left
        ul.menu-meta
          li
            label Address
            p Unit 7, 5 Durham Yard, London E2 6QF
          li
            label Telephone
            p +44 (0)20 7739 2524
          li
            label Email
            p studio@scanlabprojects.co.uk
    .menu--icon
      button.hamburger(type="button" class="hamburger--squeeze")
        span.hamburger-box
          .hamburger-inner

mixin videojs(src = '/assets/showreel-low.mp4', poster = '')
  video(id="player" class="video-js" loop="true" fluid="true" poster= poster data-setup='' width="100%" height="100%" autoplay autobuffer preload)
    source(src= src type="video/mp4")